.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.peque {
	font-size: 12px;
}
.bloqueDato {
	min-height: 490px !important;
    padding-bottom: 30px;
    padding-top: 30px;
}
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999998;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #00aeef;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 99999999;
}

    #loader:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        right: 5px;
        bottom: 5px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #ec008c;

        -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    #loader:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #fdb614;

        -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
          animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }

    @-webkit-keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }
    @keyframes spin {
        0%   { 
            -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(0deg);  /* IE 9 */
            transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
        }
        100% {
            -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: rotate(360deg);  /* IE 9 */
            transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
        }
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #FFFFFF;
        z-index: 99999997;
        -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(0);  /* IE 9 */
        transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
    }

    #loader-wrapper .loader-section.section-left {
        left: 0;
    }

    #loader-wrapper .loader-section.section-right {
        right: 0;
    }

    /* Loaded */
    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(-100%);  /* IE 9 */
                transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateX(100%);  /* IE 9 */
                transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
        transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
    
    .loaded #loader {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;  
                transition: all 0.3s ease-out;
    }
    .loaded #loader-wrapper {
        visibility: hidden;

        -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
            -ms-transform: translateY(-100%);  /* IE 9 */
                transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

        -webkit-transition: all 0.3s 1s ease-out;  
                transition: all 0.3s 1s ease-out;
    }
    
    /* JavaScript Turned Off */
    .no-js #loader-wrapper {
        display: none;
    }
    .no-js h1 {
        color: #222222;
    }

    #content {
        margin: 0 auto;
        padding-bottom: 50px;
        width: 80%;
        max-width: 978px;
    } 


    /*Fonts*/


@font-face {
  font-family: 'UniversLTStd-UltraCn';
  src: url('../fonts/UniversLTStd-UltraCn.eot?#iefix') format('embedded-opentype'),  url('../fonts/UniversLTStd-UltraCn.otf')  format('opentype'),
	     url('../fonts/UniversLTStd-UltraCn.woff') format('woff'), url('../fonts/UniversLTStd-UltraCn.ttf')  format('truetype'), url('../fonts/UniversLTStd-UltraCn.svg#UniversLTStd-UltraCn') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UniversLTStd-Bold';
  src: url('../fonts/UniversLTStd-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/UniversLTStd-Bold.otf')  format('opentype'),
	     url('../fonts/UniversLTStd-Bold.woff') format('woff'), url('../fonts/UniversLTStd-Bold.ttf')  format('truetype'), url('../fonts/UniversLTStd-Bold.svg#UniversLTStd-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'UniversLTStd-Light';
  src: url('../fonts/UniversLTStd-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/UniversLTStd-Light.otf')  format('opentype'),
	     url('../fonts/UniversLTStd-Light.woff') format('woff'), url('../fonts/UniversLTStd-Light.ttf')  format('truetype'), url('../fonts/UniversLTStd-Light.svg#UniversLTStd-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UniversLTStd-LightCn';
  src: url('../fonts/UniversLTStd-LightCn.eot?#iefix') format('embedded-opentype'),  url('../fonts/UniversLTStd-LightCn.otf')  format('opentype'),
	     url('../fonts/UniversLTStd-LightCn.woff') format('woff'), url('../fonts/UniversLTStd-LightCn.ttf')  format('truetype'), url('../fonts/UniversLTStd-LightCn.svg#UniversLTStd-LightCn') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?348w7c');
    src:    url('../fonts/icomoon.eot?348w7c#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?348w7c') format('truetype'),
        url('../fonts/icomoon.woff?348w7c') format('woff'),
        url('../fonts/icomoon.svg?348w7c#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-lactancia:before {
    content: "\e90a";
}
.icon-nutricion:before {
    content: "\e909";
}
.icon-pobreza:before {
    content: "\e91b";
}
.icon-educacion:before {
    content: "\e91c";
}
.icon-violencia:before {
    content: "\e91d";
}
.icon-salud:before {
    content: "\e91e";
}
.icon-registro:before {
    content: "\e91f";
}
.icon-primera-infancia:before {
    content: "\e921";
}
.icon-migracion:before {
    content: "\e922";
}
.icon-trabajo-infantil:before {
    content: "\e923";
}
.icon-gastos:before {
    content: "\e903";
}
.icon-poblacion:before {
    content: "\e904";
}
.icon-desarrollo:before {
    content: "\e905";
}
.icon-rurales:before {
    content: "\e906";
}
.icon-indigenas:before {
    content: "\e907";
}
.icon-nino-adolescente:before {
    content: "\e908";
}
.icon-zonas:before {
    content: "\e919";
}
.icon-ninos:before {
    content: "\e91a";
}
.icon-facebook:before {
    content: "\e900";
}
.icon-twitter:before {
    content: "\e901";
}
.icon-youtube:before {
    content: "\e902";
}


/*
body,html{
    overflow: hidden !important;
}*/

body{
	font-family: 'UniversLTStd-Light' !important;
	font-size: 18px;
}


.navbar-fixed-top{
	z-index: 9999999;
}

/*header*/

.headertop{
	background-color: #00afec;
}

.navbar-header{
	width: 100%;
	height: 70px;
}

.navbar-default .navbar-brand{
	margin-left: 5px;
}

.logo{
	float: right;
}

.headerbottom{
	background-color: #90d8f6;
}

/*.headerbottom .container{
	width: 970px;
}*/

.navbar-default .navbar-nav>li>a{
	color: #FFF !important;
}

.navbar-nav{
	font-family: 'UniversLTStd-Bold';
	font-size: 1.2em;
}

body .navbar-default .navbar-nav>.active>a, body .navbar-default .navbar-nav>.active>a:focus, body .navbar-default .navbar-nav>.active>a:hover{
	background-color: #4cc7f2;
	color: #FFF;
}

.section{
	background-size: cover;
}

body.nuestroTrabajo #section0{
		background-image: url(../img/slide03.jpg);
		padding: 0;
	}

@media (min-width: 768px) {
	ul.nav.navbar-nav{
		display: table;
		float: inherit;
		margin: 0 auto;
		text-align: center;
	}

	ul.nav.navbar-nav li{
		display: table-cell;
	}

	.navbar-nav.nav li a{
		margin-top: 12px;
		margin-bottom: 12px;
		padding: 3px 20px;
		border-right: 1px solid #FFF;
	}	

	.navbar-nav.nav li.first a{
		padding-left: 17px	;
	}

	.navbar-nav.nav li.last a{
		padding-right: 17px;
		border-right: none;
	}

	.navbar-nav.nav li:hover{
		background-color: #4cc7f2;
	}

	.container.subnav{
		font-family: 'UniversLTStd-Light';
		font-size: 18px;
		position: fixed;
	}.container.subnav .btn-descarga{
		margin-left: 15px;
		float: left;
	}

	.container.subnav .btn-descarga a{
		color: #FFF;
		padding: 5px 25px;
		border: 1px solid #FFF;
	}

	.container.subnav .btn-descarga a:hover{
		text-decoration: none;
		color: #00afec;
		background-color: #FFF;
	}

	.redesSociales{
		margin-right: 15px;
		float: right;
		font-size: 32px;
	}

	.redesSociales a{
		color: #FFF;
		margin-left: 8px;
	}

	.redesSociales a:hover{
		color: #90d8f6;
		text-decoration: none;
	}

	.primary{
		position: relative;
		z-index: 999;
		width: 720px;
		left: 50%;
		margin-left: -360px;
		position: absolute;
		top: 32%;
		
	}

	.intro{
		background-color: rgba(0,0,0,.6);
		z-index: 999;
		text-align: left;
	}

	.introP{
		color: #FFF;
	}

	.introP2{
		background-color: rgba(0,0,0,.8);
	}

	.introP2 p{
		color: #FFF;
		padding: 15px 30px;
	}

	.fondoVerde{
		background-color: #4db85a;
		padding-top: 20px;
	}

	.introP2 p span.verde{
		color: #4db85a;
		font-family: 'UniversLTStd-Bold';

	}

	.intro h1{
		color: #FFF;
		font-weight: normal;
		font-family: 'UniversLTStd-Light';
		margin-left: 210px;
		padding: 15px 0 10px;
	}

	.intro.nt h1{
		margin-top: 160px;
	}

	.nuestroTrabajo .intro h1{
		margin-left: 160px;
	}

	#section4 .intro h1{
		margin-left: 30px;
	}


	.nuestroTrabajo #section5 .intro h1{
		margin-left: 70px;
	}

	.nuestroTrabajo h2.sub{
		color: #00aeef;
		text-align: left;
		margin-top: 65px;
		margin-bottom: 0px;
	}

	h2.sub span{
		color: #ec008c;
	}

	.intro h1 strong{
		font-family: 'UniversLTStd-Bold';
	}
	section h2{
	font-weight: normal;
	font-family: 'UniversLTStd-Light';
	font-size: 24px;
	color: #00afec;
}

.datosSituacion{
	background-color: rgb(234, 246, 254);
}

.datosSituacion h3 span{
	font-size: 50px;
    text-align: center;
    display: block;
}

section h2 strong{
	font-family: 'UniversLTStd-Bold';
}


section#protegiendo .intro{
    width: 720px;
    margin: 0px auto 20px;
    min-height: 50px;
}

section .intro h2{
	font-weight: normal;
	font-family: 'UniversLTStd-Light';
	font-size: 32px;
	color: #FFF;
	text-align: center;
	line-height: 50px;
}

section h2 strong{
	font-family: 'UniversLTStd-Bold';
}

#section0 .banner{
	position: relative;
}

#section0 .primary{
		position: relative;
		z-index: 999;
		width: 720px;
		left: 50%;
		margin-left: -360px;
		position: absolute;
		top: 100px;
	}

#section4 .primary{
		position: relative;
		z-index: 999;
		width: 720px;
		left: 50%;
		margin-left: -360px;
		position: absolute;
		top: 100px;
	}

.nuestroTrabajo #section1{
	padding-top: 120px;
}

#section1 .fp-tableCell{
	vertical-align: top;
}

#section1 h2{
	margin-top: 80px;
	margin-bottom: 40px;
}

#section2{
	padding-top: 0px;
}

.infografia{
	padding-top: 30px;
}

#section3 .fp-tableCell{
	height: 100% !important;
	vertical-align: middle;
	font-size: 1.2em;
}

#section3 .fp-tableCell .bloqueAzul{
	padding: 150px 0;
}

#section4{
}
.banner{
	background-position: top center;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 426px;
}

#section4 .banner{
	background-image: url(../img/sectionNT01.png);
}

#section4 .banner.compromisos{
	background-image: url(../img/10compromisos.jpg);
}

#section4 .midRight.compromisos{
	background-color: #b0d35c;
	margin-top: 80px;
}

#section4 .midRight.compromisos p{
	font-size: 16px;
	margin-bottom: 30px;
	border: 1px solid #FFF;
	padding: 15px;
	margin: 0 15px 30px;
	color: #333;
}

#section4 .midRight.compromisos p strong{
	font-size: 18px;
	color: #333;
}

#section5 .banner{
	background-image: url(../img/sectionNT02.png);
}

#section5 .sublevel .banner{
	background-image: url(../img/migracion.jpg);
}

#section5 .primary{
		position: relative;
		z-index: 999;
		width: 720px;
		left: 50%;
		margin-left: -360px;
		position: absolute;
		top: 100px;
	}
#section6 .primary,
#section9 .primary{
		position: relative;
		z-index: 999;
		width: 520px;
		left: 50%;
		margin-left: -260px;
		position: absolute;
		top: 100px;
	}


#section6 .primary .intro h1,
#section9 .primary .intro h1{
	margin-left: 115px;
}

#section6 .banner{
	background-image: url(../img/comienzo.jpg);
}

.sublevel .banner.compromisos{
	background-image: url(../img/10compromisos.jpg) !important;
}

#section8 .banner{
	background-image: url(../img/equidadYcalidad.jpg);
}
#section9 .banner{
	background-image: url(../img/adolescentes.jpg);
}

#section10 .banner{
	background-image: url(../img/emergencias.jpg);
}

#section10 .banner.crisis{
	background-image: url(../img/crisisMigratoria.jpg);
}

#section8 .primary, #section10 .primary, #section13 .primary{
		position: relative;
		z-index: 999;
		width: 720px;
		left: 50%;
		margin-left: -360px;
		position: absolute;
		top: 100px;
	}

#section11 .banner{
	background-image: url(../img/innovacion.jpg);
}

#section11 .primary{
		position: relative;
		z-index: 999;
		width: 720px;
		left: 50%;
		margin-left: -360px;
		position: absolute;
		top: 100px;
	}

#section12 .banner{
	background-image: url(../img/unidosInfancia.jpg);
	height: 525px;
}

#section12 .primary{
		position: relative;
		z-index: 999;
		width: 720px;
		left: 50%;
		margin-left: -360px;
		position: absolute;
		top: 150px;
	}

#section13 .banner{
	background-image: url(../img/alianza.jpg);
}

#section14 .banner.socio{
	background-image: url(../img/socio.jpg);
}
#section14 .primary{
		position: relative;
		z-index: 999;
		width: 520px;
		left: 50%;
		margin-left: -260px;
		position: absolute;
		top: 100px;
	}

#section14 .primary h1{
	margin-left: 140px;
}

.estado h2.sub{
	margin-bottom: 20px;
}

.estado p{
	margin: 0 0 5px;
}

.acuerdos h2{
	text-align: center;
	font-family: 'UniversLTStd-Bold';
	color: #FFF;
	font-weight: normal;
	width: 50%;
	margin: 124px auto 20px;
}

.acuerdos div .cuadro{
	background-color: #FFF;
	color: #00aeef;
	padding: 15px;
	margin: 10px auto 20px;
	min-height: 140px;
}

.acuerdos div span{
	float: left;
	background-color: #00aeef;
	color: #FFF;
	display: block;
	margin-right: 15px;
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 25px; 
}

.sublevel h2{
	color: #00aeef;
}

.sublevel .midLeft p{
	color: #333;
}

.sublevel .midLeft p strong{
	color: #333;
}

.sublevel .midRight{
	background-color: #bce4fa;
	padding: 15px 20px;
	margin-top: 30px;
}

.sublevel .midRight p{
	color: #707070;
}

.publis .midLeft p img{
	float: left;
	display: block;
	width: 120px;
	margin-right: 10px;
}

.publis .midLeft{
	margin-top: 50px;
}

.publis .midLeft p{
	clear: both;
	margin-bottom: 35px;
	min-height: 220px;
	border-bottom: dashed 1px #707070;
}

.publis a{
	color: #ed2581;
}

.datoC{
	border-left-style: solid;
	border-left-width: 10px;
	padding-left: 10px;
	font-family: 'UniversLTStd-LightCn';
}



.midLeft .datoC p strong{
	color: #333;
	font-size: 20px;
}

.v1{
	border-left-color: #4eae4b;
}

.v2{
	border-left-color: #bad04c;
}

.a1{
	border-left-color: #fab700;
}

.n1{
	border-left-color: #ea5d0b;
}



.compromisos10{
	padding: 10px 0px 30px;
}

.compromisoPleca{
	color: #333;
	width: auto;
	float: left;
	padding: 5px 30px;
	margin: 5px 20px;
	clear: left;
	position: relative;
	font-size: 12px;
	min-width: 345px;
}

.compromisoPleca .no{
    padding: 5px;
    border-radius: 50%;
    background-color: #109fda;
    position: absolute;
    left: -15px;
    top: 50%;
    margin-top: -15px;
    height: 30px;
    width: 30px;
    text-align: center;
    color: #FFF;
    line-height: 28px;
    font-size: 18px;
}

.compromisoPleca strong{
	font-size: 16px;
	font-family: 'UniversLTStd-Bold';
}

.midRight p.datoDer{
	color: #707070;
	font-size: 16px;
	border-left: 1px solid #707070;
	padding-left: 15px;
	margin: 5px 15px 20px;
}

.midRight p.datoDer strong{
	text-transform: uppercase;
	font-family: 'UniversLTStd-Bold';
}

.subDatos .fa{
color: #ec008c;
}

a .fa-external-link{
	color: #ec008c
}

.subDatos ul{
	list-style: none;
}

.subDatos li{
	margin-bottom: 10px;
}

.subDatos li:before {    
font-family: 'FontAwesome';
content: "\f192";
margin:0 5px 0 -15px;
color: #ec008c;
}

.midLeft .subDatos p, .midRight .subDatos p{
	margin: 10px auto 20px;
	padding: 10px 5px;
	border-bottom: 1px solid #00aeef; 
	color: #707070;
	font-size: 14px;
}
.midLeft .subDatos p strong, .midRight .subDatos p strong,
.midRight .subDatos li strong{
	text-transform: uppercase;
	font-family: 'UniversLTStd-Bold';
	color: #ec008c;
}

.midLeft .subDatos p span, .midRight .subDatos p span{
	font-family: 'UniversLTStd-Bold';
}

.quote{
	padding: 10px 30px 0px 0px;
}

.naranja{
	padding: 30px 30px 15px;
	background-color: #f26722;	
	margin-bottom: 20px;
	margin-top: 30px;
}

.naranja p{
	text-align: center;
}

.naranja img{
	height: 60px;
	display: block;
	margin: 0 auto;
}

.midRight .quote p{
	color: #ec008c;
	font-size: 24px;
	text-align: left;
	line-height: 26px;
}

.quote .left, .left{
	float: left;
	margin-right: 10px;
}

.clear{
	clear: both;
}

.container.resaltarAzul{
	padding: inherit;
}

.nuestroTrabajo .resaltarAzul h2.sub{
	margin-top: 10px;
	color: #ec008c;
}

.resaltarAzul{
	background-color: #bce4fa;
	padding: 15px 20px;
}

.resaltar{
	background-color: #ec008c;
	padding: 15px 20px;
}

.resaltar p, .midRight .resaltar p{
	color: #FFF;
}

.midLeft .resaltar p strong, .midRight .resaltar p strong{
	font-family: 'UniversLTStd-Bold';
	color: #FFF;
}

.fondoAmarillo{
	background-color: #fdb614;
	padding: 30px;
}

	.inicia{
		background-color: transparent;
		color: #FFF;
		padding: 5px 25px;
		border: 1px solid #FFF;
		text-align: center;
		margin: auto;
		display: block;
		margin-top: 20px;
		width: 160px;
	}

	.inicia:hover{
		background-color: #FFF;
		color: #00afec;
		text-decoration: none;
	}

	.nota h2, .modal-content h2{
		font-size: 22px;
		font-family: 'UniversLTStd-Bold';
	}

	.nota p, .modal-content p{
		color: #b2b2b2;
		font-size: 18px;
		font-family: 'UniversLTStd-LightCn';
	}

	.modal-content{
		padding: 15px;
	}

	h2.azul{
	    font-family: 'UniversLTStd-Light';
	    text-align: center;
	    font-size: 36px;
	    color: #00afec;
	}

	.dato{
		text-align: center;
		font-family: 'UniversLTStd-Light';
		margin: 40px auto 60px;
		padding: 5px 40px;
		border-right: 1px solid #1a9ad7;
		min-height: 205px !important;
	}

	.dato:last-child{
		border-right: none;
	}

	.datoPrincipal p{
		    font-size: 2rem;
    text-align: center;
    margin-top: 15px;
	}

	.datoPrincipal p strong{
		color: #e50c7e;
	}


	.dato h3{
		font-family: 'UniversLTStd-Bold';
		font-weight: 700;
		color: #e50c7e;
		margin-bottom: 0px;
	}

	.dato p{
		color: #707070;
	}

	.infografia .izq{
		text-align: left;
	}

	.infografia .izq h3 span,
	.infografia .der h3 span{
		font-size: 30px;
	    line-height: 18px;
	    display: block;
	    float: left;
	    margin-right: 10px;
	}

	.infografia .izq h3 span:before, .infografia .der h3 span:before{
	    background: #fff;
	    border-radius: 50%;
	}

	.infografia article{
		border-bottom: 1px dashed #717070;
	}

	.infografia h3{
		font-size: 18px;
		font-family: 'UniversLTStd-Bold';
		color: #ea1e89;
		margin-bottom: 10px;
		line-height: 25px;
	}

	.infografia p{
		font-family: 'UniversLTStd-LightCn';
		color: #FFF;
		font-size: 14px;
		line-height: 15px;
	}

	.infografia p strong{
		color: #FFF;
		font-family: 'UniversLTStd-Bold';
		font-size: 16px
	}

	.infografia p strong span{
		color: #ea1e89;
	}

	.referencias p{
		font-family: 'UniversLTStd-LightCn';
		font-size: 10px;
		line-height: 10px;
	}

	.links a{
		border-right: 1px solid #1a9ad7;
		padding-right: 20px;
		margin-right: 10px;
		display: inline-block;
		width: auto;
	}

	.links a:last-child{
		border-right: none;
	}


	.bloqueAzul{
		background-color: #1a9ad7;
		color: #FFF;
		padding: 80px 0 150px;
	}

	.bloqueAzul .icon{
		text-align: center;
		font-size: 60px;
	}

	.bloqueAzul p strong{
		font-family: 'UniversLTStd-LightCn';
		text-transform: uppercase;
	}

	.trabajo{
		padding-top: 120px;
		background-color: rgb(234, 246, 254);
	}

	.trabajo p strong{
		color: #00aeef;
	}

	.trabajo .bloqueAzul p strong{
		font-family: 'UniversLTStd-LightCn';
		color: #FFF;
	}

		.container.subnav{
		z-index: 1000;
		left: 50%;
		margin-left: -585px;
		top: 130px;
	}

	.container.verde{
		border-top: 1px dashed rgba(255,255,255,0.4);
		margin-top: 30px;
		
	}

	.recuadro{
		background: #ec008c;
		padding: .5rem 1.5rem;
		margin-bottom: 2.5rem;
	}

	.recuadro p{
		color: #FFF;
	}

	.infoRecuadro{
		padding-top: 20px;
	}


	.infoRecuadro strong, .infoRecuadro p.pie{
		color: #ec008c;
	}

	.container.blanco{
		border-top: 1px dashed rgba(255,255,255,0.4);
		margin-top: 30px;
		color: #333;
	}

	.container.verde:last-child{
		padding-bottom: 50px;
	}

	.container.verde a{
		color: #ec008c;
	}

	.container.verde h2,
	.container.verde .midRight h2,
	.container.blanco h2,
	.container.blanco .midRight h2{
		color: #ec008c;
	}

	.container.blanco h2.sub{
			    color: #00aeef;

	}

	.container.verde h2 span,
	.container.blanco h2 span{
		display: block;
		float: left;
		background-color: #ec008c;
		color: #FFF;
		height: 30px;
		width: 30px;
		line-height: 30px;
		border-radius: 50%;
		margin-right: 10px;
		text-align: center;
		font-size: 18px;
		margin-bottom: 11px;
	}

	

	.container.blanco .midLeft p,
	.container.blanco .midRight p{
		color: #333;
	}
	
	.container.verde .midLeft .subDatos p, 
	.container.verde .midRight .subDatos p{
		border-bottom-color:#fff; 
	}
	
	#protegiendo .bg-slide{

		width: 100%;
		padding-top: 150px;
	}

	.notas{
		float: right;
		width: 50%;
		position: relative;
	}

	.notas article{
	    position: relative;
	    padding-top: 80px;
	    margin-bottom: 10px;
	    padding-left: 185px;
	}

	.notas .thumb{
		position: absolute;
		left: -25px;
		z-index: 2;
		top: 0;
		cursor: pointer;
	}

	.nota{
		background-color: #FFF;
		padding: 5px 5px 15px 15px;
		max-width: 400px;
		position: relative;
	}

	#protegiendo1{
		background-color: #FFF;
		padding-top: 120px;
	}
	#protegiendo2{
		background-color: rgb(234, 246, 254);
		padding-top: 120px;
	}


	.midLeft, .midRight{
		float: left;
		margin-top: 0px;
		width: 49%;
	}

	.midLeft{
		padding-right: 1%;
	}

	.midRight{
		padding-left: 1%;
	}

	.midLeft p:first-child{
		margin-top: 35px;
	}

	.midLeft p{
		padding-right: 20px;
	}

	.midLeft p strong{
		color: #00aeef;
	}

	.midRight p, .left, .sublevel .midLeft p.pieFoto, .midLeft p.pieFoto{
		color: #4cc7f2;
		font-size: 12px;
	}

	.midRight p.regular{
		color: inherit;
		font-size: inherit;
	}

	.midRight iframe:first-child{
		margin-top: 65px;
	}

	.row.bloques{
		border-bottom: 1px solid #efefef;
		margin-bottom: 40px;
		padding-bottom: 20px;
	}

	.row.bloques:last-child{
		border-bottom: none;
	}

	.bloque .altoImagen{
		display: block;
		height: 90px;
	}


	
}
.table th{
	color: #ec008c;
}

.table td strong{
	color: #00aeef;
}
.bloque img{
	max-height: 90px;
	width: auto;
}

#slides {
  position: relative;
}
#slides .slides-container {
  display: none;
}
#slides .slides-container img{
  top: 0px !important;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
}
.slides-navigation a.prev {
  left: 0;
}
.slides-navigation a.next {
  right: 0;
}

.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.slides-pagination a {
  border: 2px solid #222;
  border-radius: 15px;
  width: 10px;
  height: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
  margin: 2px;
  overflow: hidden;
  text-indent: -100%;
}
.slides-pagination a.current {
  background: #222;
}

.a1{
	-webkit-animation-delay: .3s;
	-o-animation-delay: .3s;
	animation-delay: .3s;
}

.a2{
	-webkit-animation-delay: .6s;
	-o-animation-delay: .6s;
	animation-delay: .6s;
}

.a3{
	-webkit-animation-delay: .9s;
	-o-animation-delay: .9s;
	animation-delay: .9s;
}

.a4{
-webkit-animation-delay: 1.2s;
	-o-animation-delay: 1.2s;
	animation-delay: 1.2s;	
}

.a5{
	-webkit-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}